{% extends 'base.html' %}

{% block cuerpo %}

	<h1>Detalle de la Pelicula</h1>
	<HR>
	<h4>Nombre: {{movie.nombre}}
	<h4>Nombre Traducido: {{movie.nombre_tr}}<br>
	{% if movie.imagen %}
		<img src="{{ movie.imagen.url }}" height="250px" >
	{% else %}
		{% load static %}
		<img src="{% static 'img/no_disponible.png' %}" height="250px">
	{% endif %}
	<h4>Descripcion: {{movie.descrip}}
	<h4>Fecha de Estreno: {{movie.fecha_est}}
	<br>

	<input type="button" onclick="history.back()" name="Volver" value="Volver">
	
{% endblock cuerpo %}